<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishVault</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="hero">
    <h1> Sorry my friend, it seems something went terribly wrong :( </h1>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnE1bWM1dW9pa3g4amY0aXozZnY1c2Nndm5rOHg3Yjc3MTBkYWVqbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/W0c3xcZ3F1d0EYYb0f/giphy.gif" alt="Sad Chandler">
    <button type="button" onclick="window.history.back()">Try Again</button>
</section>
</body>
</html>