<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<!--todo create homepage where user can create a new wish list  -->
<section class="hero" >
    <table>
        <tr>

 <h1 > Welcome  </h1>  <h1 class="" th:text = "${user.firstName}" > </h1>
            <label for="name"> </label>
    <h2 class="hero-title"> Create a new wish list </h2>
    <div class="wish-form">
    <div class="wish-form-textarea">
    <form class="wish-form" action ="/createWishlist" method="post">
        <label class="" for ="name" > name </label>
        <input class="form" type = "text" id = "name" name="wishlistName" placeholder="write your wishlist name here...">
        <input  type = "submit" value="Create" >
        <input type="hidden" id="firstName" name="firstName"  th:value  = "${user.firstName}">
        <input type="hidden" id="email" name="email"  th:value  = "${user.email}">
    </form>
    </div>
        </div>



        </tr>

        <tr>

            <!--todo create a table where user can see all the wish lists they have created -->
            <h2 class="hero-title"> Your Wish Lists </h2>

        </tr>
    </table>
</section>
</body>
</html>

