<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="hero">
    <div th:include="home/fragments/logo :: logo"></div>
            <h1> Welcome </h1>
            <h1 class="" th:text="${user.firstName}"></h1>
            <label for="name"> </label>
            <h2 class="hero-title"> Create a new wish list </h2>
            <div class="wish-form">
                <div class="wish-form-textarea">
                    <form class="wish-form" action="/createWishlist" method="post">
                        <label class="" for="name"> name </label>
                        <input class="form" type="text" id="name" name="wishlistName"
                               placeholder="write your wishlist name here..." required>
                        <input type="submit" value="Create">
                        <input type="hidden" id="firstName" name="firstName" th:value="${user.firstName}">
                        <input type="hidden" id="email" name="email" th:value="${user.email}">
                    </form>
                </div>
            </div>


    <div class="login-form"> <!-- TODO Skal laves om -->
            <h2 class="hero-title"> Your Wish Lists </h2>
    <table id="wishListTable">
        <thead>
            <th>Wishlist Name</th><th>Action</th>
        </thead>
        <tr th:each="wishlist : ${wishlists}">
            <td th:text="${wishlist.name}"></td>
            <td th:hidden="true" th:text="${wishlist.wishlistId}"></td>

            <td>
                <form action="/confirm_delete" method="post">
                    <input type="hidden" name="email" th:value="${user.email}">
                    <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form action="/product" method="get">
                    <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                    <button type="submit">View</button>
                </form>
            </td>
            <td>
                <form action="/sharedwishlist" method="get">
                    <input type="hidden" name="id" th:value="${wishlist.wishlistId}">
                    <button type="submit">Share</button>
                </form>
            </td>
        </tr>
    </table>
    </div>
</section>
</body>
</html>

