<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />

    <link rel="stylesheet" type="text/css" href="/productstyle.css">
</head>
<body>
<div th:insert="~{home/logo :: logo}"></div>
<div class="container">
    <button class="Goback" type="button" onclick="window.history.back()">Go back</button>
    <div class="product-form">
        <h1 class="hero-title">Wishes</h1>
        <h1> Add a product to your wishlist </h1>
        <form action="/addProduct" method="post">
            <div class="input-group">
                <label class="form-label" for="name"> Product name </label>
                <input class="form-input" type="text" id="name" name="productName"
                       placeholder="write your product name here...">
            </div>
            <div class="input-group">
                <label class="form-label" for="price"> Price </label>
                <input class="form-input" type="number" id="price" name="price" value="0"
                       placeholder="write the price of the product here...">
            </div>
            <div class="input-group">
                <label class="form-label" for="url"> URL </label>
                <input class="form-input" type="text" id="url" name="url"
                       placeholder="write the URL of the product here...">
            </div>
            <div class="input-group">
                <label class="form-label" for="description"> Description </label>
                <input class="form-input" type="text" id="description" name="description"
                       placeholder="write the description of the product here...">
            </div>
            <div class="input-group">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" id="amount" name="amount" value="0" class="form-input">
            </div>
            <input type="submit" class="form-submit" value="Add">
            <input type="hidden" id="wishlistId" name="wishlistId" th:value="${wishlist.wishlistId}">
        </form>
    </div>


    <!--todo create a table where user can see all the products in a wishlist using th:each command -->

    <div class="login-form">
        <h2 class="hero-title"> Your wishes </h2>
        <table id="productTable">
            <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>URL</th>
            <th>Description</th>

            <th>Action</th>
            </thead>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.amount}"></td>
                <td th:hidden="true" th:text="${product.productId}"></td>
                <td>
                    <a class="product-url" th:href="${product.url}">Link to the wish</a>
                </td>
                <td th:text="${product.description}"></td>

                <td>
                    <form action="/edit_product1" method="get">
                        <input type="hidden" name="productId" th:value="${product.productId}">
                        <button type="submit">Edit</button>

                        <!--                    INDSÆT HER!-->

                    </form>
                    <form action="/confirm_delete_product" method="post">
                        <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}">
                        <input type="hidden" name="productId" th:value="${product.productId}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
