<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="/productstyle.css">

</head>
<body>
<section class=hero>
    <div th:insert="~{home/logo :: logo}"></div>
    <div class="login-form">
        <h2 class="hero-title">Your wishes</h2>
        <button class="Goback" type="button" onclick="window.history.back()">Go back</button>
        <table id="productTable">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>URL</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.amount}"></td>
                <td th:hidden="true" th:text="${product.productId}"></td>
                <td>
                    <a class="product-url" th:href="${product.url}" th:text="${product.url}"></a>
                </td>
                <td th:text="${product.description}"></td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>