<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="hero">
    <div class="signup-form">
        <h1>Welcome to WishVault</h1>
        <h1> Ready for adventure? Sign up now!</h1>
        <p class="error-text" th:text="${error}"></p>
        <form th:action="@{/signup}" method="post" class="signup-frame">
            <div class="input-group">
                <label for="first_name"></label>
                <input type="text" id="first_name" name="firstName" placeholder="First name" required>
            </div>
            <div class="input-group">
                <label for="last_name"></label>
                <input type="text" id="last_name" name="lastName" placeholder="Last name" required>
            </div>
            <div class="input-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="address"></label>
                <input type="text" id="address" name="address" placeholder="Address" required>
            </div>
            <div class="input-group">
                <label for="DOB"></label>
                <input type="text" id="DOB" name="dateOfBirthString" placeholder="YYYY-MM-DD" required
                       pattern="\d{4}-\d{2}-\d{2}">
            </div>

            <div class="input-group">
                <label for="gender">Gender </label>
                <select id="gender" name="gender">
                    <option value="O">Other</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="input-group">
                <label for="Password"></label>
                <input type="password" id="Password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Submit <a th:href="@{login}"></a></button>
        </form>
        <p>Already have an account? <a th:href="@{/login}">
            <button type="button">Login</button>
        </a></p>
    </div>
</section>
</body>
</html>